 *{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*..banner section start..*/
.banner-container {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner-description {
    color: white;
    text-align: center;
    padding: 200px;
}
#banner-heading {
    font-size: 60px;
}
.donate-btn {
    padding: 5px 10px;
    margin: 20px;
    color: white;
    font-size: 24px;
    background-image: linear-gradient(red, rgb(155, 63, 63)) ;
    border-radius: 3px 10px;
}
/*..banner section Ends..*/

/*..donate today section start..*/
.section-description {
    margin : 100px;
    text-align: center;
}
.sub-head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
#amount {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    font-size: 20px;
    font-weight:bold ;
}
.dollar {
    border: .5px solid lightgrey;
    background-color: antiquewhite;
    padding: 30px;
}
#focus1 {
    color: rgba(126, 3, 13, 0.936);
    background-color: palevioletred ;
    border: 2px solid rgba(210, 18, 18, 0.905);
    border-radius: 5px;   
}
#more-amount {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 60%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
input {
    margin: 20px;
}
/*..donate today section ends..*/

/*..donate plan start..*/
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
.card-design {
    padding: 30px 15px;
    border-radius: 5px;
    height: 300px;
    width: 350px;
}
#card1{
    background-color: rgba(193, 255, 255, 0.807);
}
#card2{
    background-color: rgba(254, 213, 220, 0.888);
}
#card3{
    background-color: rgba(255, 231, 193, 0.807);
}
/*..donate plan Ends..*/

/*..footer start..*/
#footer {
    background-color: black;
    margin-top: 50px;
    padding: 30px;

    color: white;
    text-align: center;
}
.footer-description a{
    text-decoration: none;
    color: white;
    padding-bottom:5px ;
}
#footer small {
   
}
/*..footer start..*/